# Ejemplo de variables de entorno para el proyecto
GITHUB_BASE_URL="https://models.github.ai/inference"
OPENAI_BASE_URL="https://models.github.ai/inference"
OPENAI_EMBEDDINGS_URL="https://models.github.ai/inference"
GITHUB_TOKEN="<YOUR_GITHUB_TOKEN>"
LANGSMITH_TRACING=""
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""
